head
    title WBApp-Development
    script(src="/wbapp/lib/jquery.js")
    script(src="/wbapp/lib/underscore.js")
    script(src="/wbapp/lib/backbone.js")
    script(src="/wbapp/lib/handlebars.runtime.js")
    script(src="require.js")
    script(src="/wbapp/modules.js")
    script(src="/wbapp/wbapp.js")
    script(src="/main.js")
